h1 {
    text-align: left;
    font-size: 35px;
}
.dishes-block{
    width: 500px;
    text-align: center;
    padding: 10px;
}
.dish-card{
    width: 70%;
    height: 50%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
}

.button {
    background: royalblue;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}