
.card{
    margin: 5px 0;
}
.card-p{
    margin: 3px;
    font-size: 16px;
    display: inline-block;
}
.total-price{
    font-family: "Noto Kufi Arabic";
    color: darkblue;
    border-bottom: 2px solid black;
}

.delete-btn{
    font-size: 30px;
    border: none;
    background: no-repeat;
    color: red;
}
.delete-btn:hover {
    color: mediumvioletred;
    cursor: pointer;
}